<!--passando dados da tela pro backend -->
<!--a url deve ser a mesma da propriedade 'name' do arquivo urls-->
<!--pip install django-widget-tweaks-->
{% extends 'investimentos/base.html' %}
{% block conteudo %}
{% load widget_tweaks %}
<div class="container">
    <form action="" method="POST">
        <!--token de segurança-->
        {% csrf_token %}
        <h1>Formulário novo investimento</h1>
        <div class="form-row align-items-center">
            <label>Investimento</label>
            {% render_field formulario.investimento class='form-control' %}
            <label>Valor</label>
            {% render_field formulario.valor class='form-control pull-left' %}
            <label>Pago</label>
            {% render_field formulario.pago class='form-control form-check-input' %}
            <label>Data</label>
            {% render_field formulario.data class='form-control' %}
        </div>
        <button class="btn btn-success" style="margin-top: 10px;" type="submit">Salvar</button>
    </form>
</div>
{% endblock %}